@import '@/assets/css/settings/mixins';
@import '@/assets/css/settings/colors';
@import '@/assets/css/settings/breakpoints';
@import '@/assets/css/settings/icons-extend';

.tabs {
    $self: &;
    margin-bottom: 32px;

    @include phone {
        margin-bottom: 24px;
    }

    &__content__item {
        display: none;

        &--active {
            display: block;
        }
    }

    &__head {
        display: flex;
        margin-bottom: 32px;

        @include phone {
            white-space: nowrap;
            overflow: scroll;
            width: calc(100% + 20px);
        }

        &__item {
            padding: 13.5px 22px 13.5px;
            @include borderRadius(24px);
            border: 1px solid $base-dark;
            color: $base-dark;
            font-size: 16px;
            font-weight: bold;
            margin-right: 16px;
            text-align: center;
            cursor: pointer;
            background: $white;

            &--active {
                background: $base-dark;
                color: $white;
            }
        }
    }

    &--pill {
        margin: 0;

        @include phone {
            margin: 0;
        }
        
        #{$self} {
            &__head {
                background: $white;
                @include boxShadow(0 6px 24px 0 rgba(212, 212, 212, 0.5));
                @include borderRadius(32px);
                padding: 8px;
                max-width: 972px;
                justify-content: space-between;
                margin: 20px auto 20px;
                position: relative;

                @include phone {
                    flex-direction: column;
                    max-width: 100%;
                    padding: 16px;
                    @include borderRadius(16px);
                }

                &__item {
                    width: 156px;
                    border: none;
                    padding: 0;
                    line-height: 48px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0;
                    position: relative;
                    z-index: 2;
                    transition: all .4s ease-in-out;

                    @include phone {
                        width: 100%;
                        line-height: 51px;
                        padding: 0 16px;
                        text-align: left;
                    }

                    &::before {
                        font-family: 'turkcell-kopilot-filom';
                        @extend %icon-arrow;
                        font-size: 24px;
                        position: absolute;
                        top: 0;
                        right: 16px;
                        display: none;
                        font-weight: normal;
                        @include phone {
                            display: block;
                        }
                    }

                    &--active {
                        background: transparent;
                    }
                }

                &__glider {
                    background: $base-dark;
                    line-height: 48px;
                    position: absolute;
                    width: 156px;
                    height: 48px;
                    left: 8px;
                    top: 8px;
                    display: block;
                    z-index: 1;
                    @include borderRadius(24px);
                    transition: all .2s ease-in-out;

                    @include phone {
                        width: calc(100% - 32px);
                        @include borderRadius(8px);
                        height: 51px;
                        top: 16px;
                        left: 16px;
                    }
                }
            }
        }
    }
}   