@import '/assets/css/settings/mixins';
@import '/assets/css/settings/colors';
@import '/assets/css/settings/breakpoints';
@import '/assets/css/settings/icons';


.button {
    border-radius: 24px;
    padding: 0 30px;
    line-height: 46px;
    font-size: 16px;
    color: $base-dark;
    background: $yellow;
    border: 1px solid $yellow;
    font-weight: bold;
    min-width: 170px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;

    &--secondary {
        background: $white;
        border-color:$base-dark;
        color: $base-dark;
    }
}