@import '/assets/css/settings/mixins';
@import '/assets/css/settings/colors';
@import '/assets/css/settings/breakpoints';
@import '/assets/css/settings/icons';



.buttons {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    @include phone {
        margin-top: 24px;
    }

    @include phone {
        flex-wrap: wrap;
    }

    .button {
        min-width: 240px;

        &:first-child:not(:last-child) {
            margin-right: 16px;

            @include phone {
                margin: 16px 0 0;
            }
        }

        @include phone {
            width: 100%;
        }
    }

    &-m--reverse {
        @include phone {

            flex-direction: column-reverse;
        }
    }
}

.why-copilot {
    padding: 80px 0 70px;
    color: $white;
    background: url("/assets/images/why-copilot.png") no-repeat top right, $base-dark;

    @include phone {
        padding: 40px 0;
    }

    h2 {
        margin-bottom: 34px;


        @include phone {
            margin-bottom: 24px;
        }
    }

    .box__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        margin-bottom: 40px;

        @include phone {
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 0;
            grid-row-gap: 16px;
            margin-bottom: 24px;

            .box__gradient--wrap {
                margin: 0;
            }
        }
    }
}

.information {
    margin: 80px 0;
    display: flex;

    @include phone {
        margin: 32px 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;

        @include phone {
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 0;
            grid-row-gap: 32px;
        }
    }

    &__left,
    &__right {
        max-width: 570px;

        @include phone {
            max-width: 100%;
        }

        @media screen and (max-width: 360px) {
            max-width: calc(100% - 20px);
        }

        h2 {
            margin-bottom: 24px;

            @include phone {
                margin-bottom: 16px;
            }
        }
    }

    &__right {
        &__sss {
            margin-bottom: 35px;

            @include phone {
                margin-bottom: 16px;
            }
        }

        .buttons {

            @include phone {
                margin-top: 16px;
            }

            .button {
                width: 240px;
            }
        }
    }

    .box {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 16px;
        }

        &__gradient {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding-top: 34px;

            @include phone {
                padding-top: 12px;
            }

            &--wrap {
                height: 150px;
                margin: 0 !important;

                @include phone {
                    height: 110px;
                }

                &:hover {
                    .box__gradient {
                        &::before {
                            display: none;
                        }
                    }
                }
            }

            &--white {
                background: $white;
            }

            h3 {
                font-size: 18px;
                color: $dark-gray;
                margin: 0 !important;

                @include phone {
                    font-size: 16px;
                }
            }

            i {
                margin-bottom: 8px;

                @include phone {
                    margin-bottom: 4px;
                }

                &::before {
                    font-size: 48px;
                    color: $base-dark;

                    @include phone {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

.campaign {
    margin: 142px 0 80px;
    overflow: hidden;
    position: relative;

    @include phone {
        margin: 32px 0;
    }

    .swiper {
        position: unset;
    }

    .swiper-slide {
        max-width: 370px;

        @include phone {
            max-width: 327px;
        }
    }

    .swiper {
        overflow: visible;

        @include phone {
            width: calc(100% + 16px);
        }
    }

    h2 {
        margin-bottom: 32px;

        @include phone {
            margin-bottom: 16px;
        }
    }

    .box__default {

        img {
            width: 100%;
            object-fit: cover;
        }

        h3 {
            margin: 16px 0;
            font-size: 16px;
        }
    }
}


.map-area {
    margin: 120px 0 142px;
    text-align: center;

    @include phone {
        margin: 32px 0;
        padding: 0 8px;
    }

    .container {
        @include phone {
            padding: 24px 16px;
            background: $grey-50;
            @include borderRadius(16px)
        }
    }

    &__map {
        max-width: 815px;
        margin: 0 auto;
        position: relative;
        left: 10px;

        @include phone {
            max-width: 303px;
            left: 0;
        }

        img,
        source {
            width: 100%;
        }
    }

    .tabs {
        &__head {
            margin: 40px auto 46px;

            @include phone {
                margin: 16px 0;
            }
        }

        &__content {
            position: relative;
            z-index: 2;
            padding: 38px 0 20px;

            @include phone {
                padding: 20px 0;
            }
        }
    }

    &__device {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        user-select: none;
        pointer-events: none;

        picture {
            max-width: 848px;
            margin: 0 auto;

            @include phone {
                max-width: 327px;
            }

            img {
                width: 100%;
            }
        }
    }
}

.section-sss {
    padding-top: 208px;

    @include phone {
        padding-top: 112px;
    }

    h2 {
        margin-bottom: 24px;

        @include phone {
            margin-bottom: 16px;
        }
    }
}