@import '/assets/css/settings/mixins';
@import '/assets/css/settings/colors';
@import '/assets/css/settings/breakpoints';
@import '/assets/css/settings/icons';



.buttons {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    @include phone {
        margin-top: 24px;
    }

    @include phone {
        flex-wrap: wrap;
    }

    .button {
        min-width: 240px;

        &:first-child:not(:last-child) {
            margin-right: 16px;

            @include phone {
                margin: 16px 0 0;
            }
        }

        @include phone {
            width: 100%;
        }
    }

    &-m--reverse {
        @include phone {

            flex-direction: column-reverse;
        }
    }
}

.section-sss {
    padding-top: 208px;

    @include phone {
        padding-top: 112px;
    }

    h2 {
        margin-bottom: 24px;

        @include phone {
            margin-bottom: 16px;
        }
    }
}