.form {
    &__group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        position: relative;

        &--single {
            grid-template-columns: 1fr;
            grid-column-gap: 0;
        }
    }
}