@import '/assets/css/settings/mixins';
@import '/assets/css/settings/colors';
@import '/assets/css/settings/breakpoints';
@import '/assets/css/settings/icons';


.hero {
    background: $primary-500-navy;
    padding: 0;
    border-radius: 0 0 120px 120px;
    overflow: hidden;
    position: relative;
    z-index: 9;

    @include phone {
        border-radius: 0 0 60px 60px;
    }

    
    .container {
        display: flex;
        justify-content: space-between;
        position: relative;

        @include phone {
            flex-wrap: wrap;
        }
    }

    &__city {
        max-width: 965px;
        width: 100%;
        position: absolute;
        top: 52px;
        right: -96px;

        &__picture {
            width: 100%;
            display: block;
            height: 678px;
            position: relative;

            @include phone {
                height: 358px;
            }

            img {
                position: relative!important;;
            }
        }

        @include phone {
            width: calc(100% + 32px);
            margin-left: -16px;
            margin-right: -16px;
            position: relative;
            top: 0;
            right: 0;
        }
    }

    &__text {
        max-width: 480px;
        padding: 168px 0 181px;

        @include phone {
            padding: 102px 0 19px;
        }

        h1 {
            background: $yellow;
            background-image: linear-gradient(72deg, $yellow 31%, $yellow 44%, #46fbfc 68%, #07a8fa 86%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 56px;
            font-weight: bold;
            margin: 0;

            @include phone {
                font-size: 36px;
                margin: 0;
            }
        }
        
        p {
            margin: 32px 0;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.33;
            color: $white;

            @include phone {
                margin: 18px 0;
                font-size: 16px;
            }
        }
    }

}