@import '/assets/css/settings/mixins';
@import '/assets/css/settings/colors';
@import '/assets/css/settings/breakpoints';
@import '/assets/css/settings/icons';


.logo {
    display: flex;
    align-items: stretch;
    position: relative;

    img {
        width: 48px!important;
        height: auto!important;
        position: relative!important;

        @include phone {
            width: 24px!important;
        }
    }
    
    figcaption {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.3px;
        color: $white;
        padding-left: 8px;
        margin-left: 14px;
        border-left: 1px solid $white;
        display: flex;
        align-items: center;

        @include phone {
            padding-left: 4px;
            margin-left: 7px;
            font-size: 10px;
            letter-spacing: -0.15px;
        }
    }
}