@import '/assets/css/settings/mixins';
@import '/assets/css/settings/colors';
@import '/assets/css/settings/breakpoints';
@import '/assets/css/settings/icons';



.accordion {
    $self: &;
    //   &__item.active &__item-header::after {
    //     transform: rotate(180deg);
    //   }
  
    &__item {
      border-radius: 16px;
      border: solid 1px $grey-200;
      padding: 20px 22px 21px 24px;
      font-family: GreycliffCF;
      color: $base-dark;
      cursor: pointer;
      background-color: $white;
  
      &:not(:last-child) {
        margin-bottom: 16px;
      }
  
      &:hover {
        border: solid 1px $white;
        box-shadow: 0 6px 24px 0 rgba(212, 212, 212, 0.5);
      }
  
      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        //   &::after {
        //     content: '';
        //     width: 24px;
        //     height: 24px;
        //     transition: all 0.3s ease-out;
        //     background-image: url(../images/icons-line-chevron-down-black.png);
        //     background-size: contain;
        //   }
  
        >p {
          font-size: 18px;
          font-weight: bold;
          transition: all 0.2s ease-out;
        }
  
        i {
          &::before {
            font-size: 24px;
          }
        }
      }
  
      &-body {
        font-size: 16px;
        line-height: 1.5;
        padding-right: 100px;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.2s ease-out;
      }
  
      &.active {
        #{$self}__item-body {
          height: auto;
          margin-top: 10px;
          opacity: 1;
  
          @include phone {
            margin-top: 18px;
          }
        }
  
        i {
          transform: rotate(180deg);
        }
      }
    }
  
    @include phone {
      &__item {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
  
        &-header {
          >p {
            font-size: 16px;
          }
        }
  
        &-body {
          font-size: 14px;
          line-height: 1.43;
          padding-right: 0px;
        }
      }
    }
  }