$dark-blue: #034ea2;
$base-dark: #253342;
$yellow: #ffc900;
$error: #ff423f;
$grey-900: #111927;
$grey-800: #1f2a37;
$grey-700: #384250;
$grey-600: #4d5761;
$grey-500: #6c737f;
$grey-400: #9da4ae;
$grey-300: #d2d6db;
$grey-200: #e5e7eb;
$grey-100: #f3f4f6;
$grey-50: #f9fafb;
$information: #70b2f9;
$light-blue: #3fb0e8;
$success: #7cba10;
$primary-500-navy: #223343;
$primary-500: #2855ac;
$primary-400: #396ed0;
$secondary-500: #27356f;
$primary-500-blue: #2962ff;
$warning: #ffbb47;
$dynamic-lemon: #ffd916;
$white: #fff;
$dark-gray: #4a4a4a;