.map-area {
    margin: 120px 0 142px;
    text-align: center;

    @include phone {
        margin: 32px 0;
        padding: 0 8px;
    }

    .container {
        @include phone {
            padding: 24px 16px;
            background: $grey-50;
            @include borderRadius(16px)
        }
    }

    &__map {
        max-width: 815px;
        margin: 0 auto;
        position: relative;
        left: 10px;

        @include phone {
            max-width: 303px;
            left: 0;
        }

        img,
        source {
            width: 100%;
            position: relative!important;
        }
    }

    .tabs {
        &__head {
            margin: 40px auto 46px;

            @include phone {
                margin: 16px 0;
            }
        }

        &__content {
            position: relative;
            z-index: 2;
            padding: 38px 0 20px;

            @include phone {
                padding: 20px 0;
            }
        }
    }

    &__device {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        user-select: none;
        pointer-events: none;

        picture {
            max-width: 848px;
            margin: 0 auto;

            @include phone {
                max-width: 327px;
            }

            img {
                width: 100%;
                position: relative!important;
            }
        }
    }
}
